.about__me__container {
    width: 55%;
    margin: auto;
}

.about__me--title {
    font-size: 32px;
    font-weight: 700;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 50px;
}

.about__me--paragraph {
    font-size: 18px;
    font-weight: 400;
    color: #828282;
    text-align: center;
    width: 77%;
    margin: auto;
    
}

.about__me--links {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 150px;

}

.about__me--links li {
    text-align: center;
}

.about__me--links img {
    background-color: #212121;
    padding: 8px;
    width: 25px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about__me--links h3 {
    font-size: 18px;
    font-weight: 700;
    color: antiquewhite ;
    margin-bottom: 10px;
}

.about__me--links p {
    font-weight: 400;
    color: #828282;
}