.presentation__container {
    width: 90%;
    margin: auto;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 110px;
}



.presentation__title {
    margin-top: 55px;
    font-size: 36px;
    font-weight: 700;
    width: 221px;
    color: #F9F9F9;
    font-family: "DM Sans";
    margin-bottom: 40px;
}

.presentation__paragraph {
    font-size: 18px;
    font-weight: 500;
    color: #828282;
    margin-bottom: 37px;
}



.btn__container {
    display: flex;
    gap: 15px;

}

.presentation__btn--download, .presentation__btn--contact {
    width: 143px;
    height: 42px;
    border-radius: 4px;
    background-color: transparent;
    color: antiquewhite;
    border: 1px solid white;
    cursor: pointer;
}
.presentation__btn--download a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.presentation__btn--download, .presentation__btn--contact:hover {
    background-color: #00DF5E ;
    color: black;
    border: 1px solid black;
}

